
.title{
  display: flex;
  justify-content: center;
  color: white;
    background-color: darkseagreen;
    padding: 23px;
}

.d-flex {
  display: flex!important;
  width: 55%;
  /* justify-content: center; */
  margin-left: 384px;
  margin-top: 50px;
}
.title2{
  display: flex;
  justify-content: center;
  margin-left: 98px;
    margin-top: 30px;
    text-shadow: 5px 5px 10px black;
}
.menu{
  background-color: aliceblue;
  border-radius: 30px;

}
li{
  text-decoration: none !important;
  list-style: none;
  color: black;
 
}

a{text-decoration: none !important; }
li:hover{ color: #33993a; }
.container{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 150px;
}
.addbutton{
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.startt{
  margin-top: -150px;
  margin-left: 222px;
}
.btn2{
  border-radius: 20px;
  background-color: darkseagreen;
  color: white;

}
.cardd{
  box-shadow: -9px -7px 36px -1px rgba(11,12,13,0.88);
-webkit-box-shadow: -9px -7px 36px -1px rgba(11,12,13,0.88);
-moz-box-shadow: -9px -7px 36px -1px rgba(11,12,13,0.88);
}
.dark{
  background-color: rgb(12, 11, 11);
  color: white;
}
.buttondark{
  margin-left: 1176px;
  position: absolute;
  top: 30px;
  border-radius: 10px;
  
}
.svgmoon{
  width: 36px;
}



.menu2{
  position: absolute;
  top: 32px;
}
.pagecontact{
  margin-top: 200px;
}